/* Reset CSS */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* 
1.Vi tri
2.Kich Thuoc
3.Mau sac
4.Kieu dang(Kieu chu, hinh tron,...)
*/


#main{
    
}

#header{
    background-color: #000;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav
{
    display: inline-block;
}
#nav,.subnav{
    list-style-type: none;
} 

#nav >li
{
    display:inline-block;
}

#nav li
{
    
    position: relative;
}

#nav>li>a
{
    color:#FFF;
    text-transform: uppercase;
}

#nav li a
{
    line-height: 46px;
    padding: 0 16px;
    text-decoration: none;
    list-style-type: none;
    display: block;
} 


#nav >li:hover>a,
#nav .subnav li:hover a
{
    background-color: #ccc;
    color:#000;
}


#nav .subnav
{
    position: absolute;
    top:100%;
    left:0;
    display: none;
    background-color: #FFF;
    color: #000;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#nav .subnav a {
    color:#000; 
    padding:0px 12px;
    line-height: 38px;
}

#nav li:hover .subnav{
    display: block;
}
#nav .nav-arrow-down
{
    font-size: 12px;
}
#header .search-btn
{
    float:right;
    padding:0 21px;
}
#header .search-btn:hover

{
    cursor: pointer;
    background-color: #F44336;
}

#header .search-icon
{
    color:#FFF;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url('/assets/img/slider/la.jpg') top center/cover no-repeat;
}

#slider .text-content
{
   
    position: absolute;
    left:0;
    right: 0;
    bottom: 48px;
    color: #FFF;
    text-align: center;
}
#slider .text-heading{
    font-weight: 400;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin: 25px;
}
#content{
    
}
/* Commmon*/
.text-white
{
    color: #FFF !important;
}
 .clear
{
    clear: both;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding: 0 8px;
}

.col-third{
    width: calc(100%/3);
}

.col-half
{
    width: 50%;
}

.col-full
{
    width: 100%;
}

.text-center
{
    text-align: center;
}

.mt-8
{
    margin-top: 8px!important;
}

.mt-16
{
    margin-top: 16px!important;
}

.btn{
    margin-top: 15px;
    display: inline-block;
    padding: 11px 16px;
    background-color: #000;
    color:#FFF;
    text-decoration: none;
    border: none;
}

.btn:hover{
    color:#000;
    background-color: #CCC;
    cursor: pointer;
}

.pull-right
{
    float: right;
}
/* */
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
}
#content .section-sub-heading
{
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;
    opacity: 0.5;
}

#content .section-heading,
#content .section-sub-heading
{
    text-align: center;
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .members-list
{
    margin-top: 48px;
}
#content .member-item
{
    text-align: center;
}

#content .member-name
{
    font-size: 15px;
}

#content .member-img

{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
/* Tour Section*/
.tour-section
{
    background: #000;
}

#content .tickets-list
{
    background-color: #FFF;
    margin-top: 40px;
    list-style-type: none;

}

.tickets-list li
{
    color:#757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out
{
    background-color: #f44336;
    color: #FFF;
    padding: 3px 8px;
    margin-left:16px
}

.tickets-list .quantity
{
    float: right;
    color: #FFF;
    width: 24px;
    height: 23px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 23px;
    margin-top: -3px;
}

/* Place*/

.place-list
{
    margin-top: 32px;
    margin-bottom: 48px;
}



.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    font-size: 15px;
    background-color: #FFF;
    padding:16px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    opacity: 0.5;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}





.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open
{
    display: flex;
}
.modal-container
{
    background-color: #FFF;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation:modalFadeIn ease 0.5s ;
}


.modal-close
{
    position: absolute;
    right: 0;
    top: 0;
    color: #FFF;
    padding: 12px 16px;
    cursor: pointer;
    border: none;
    opacity: 0.8;
    font-size: 24px;
}

.modal-close :hover
{
    opacity: 1;
    color: #000;
    background-color: #ccc;
}
.modal-header
{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #FFF;
    letter-spacing: 4px;
}
.modal-heading-icon
{
    margin-right: 16px;
}

.modal-body
{
    padding: 16px;
}

.modal-label
{
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
.modal-input
{
    border: 1px solid #CCC;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#buy-ticket
{
    color: #fff;
    background-color: #009688;
    width: 100%;
    border: none;
    padding:18px;
    font-size: 15px;
}

#buy-ticket:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
    opacity: 0.9;
}

.modal-footer
{
    padding: 16px;
    text-align: right;
}

.modal-footer a
{
    color: #2196F3
}


@keyframes modalFadeIn{
    from{
        transform: translateY(-140px);
        opacity: 0.8;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* Contact From*/
.contact-content
{
    margin-top: 48px;
}

.contact-info
{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i [class*="ti-"]
{
  width: 30px;
  display: inline-block;
} 


.row::after
{
    content: "";
    display: block;
    clear: both;
}
.contact-form{
    font-size: 15px;
}

.contact-form .form-control
{
   padding: 11px;
   border-radius: 1px solid #ccc;
   width: 100%;
   outline: none;
}

.map-section img
{
    width: 100%;
}

/* Footer*/
#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list
{
    font-size: 24px;
}

#footer .socials-list a
{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    line-height: 1.6;
    letter-spacing: 0.8px;
    opacity: 0.8;
}

#footer .socials-list a:hover
{
    color: rgba(0, 0, 0, 0.3);
}

#footer .copyright a
{
    color:inherit;
    opacity: 0.9;
    font-size: 15px;
}

#footer .copyright
{
    font-size: 15px;
    opacity: 0.6;
}